# 파이썬 기초 (2021.10.21 목)
## 자료형
- 정수(int)
- 실수(float)
- 문자열(str)

In [73]:
1 + 2

3

In [2]:
3 * 3

9

In [1]:
1.0

1.0

In [2]:
1.

1.0

In [3]:
print("Hello, python!")

Hello, python!

In [4]:
print('Hello, python!')

Hello, python!

In [5]:
3*3*3.14

28.26

In [8]:
for i in range(10):
    if i>5:
        print(i)

6
7
8
9

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
print('a', 'b', sep='#######')

a#######b

In [12]:
print('홍길동', '둘리', sep='사랑해')

홍길동사랑해둘리

In [16]:
합계 = 0

In [17]:
for i in range(10):
    합계 = 합계 + 100

In [18]:
print(합계)

1000

In [19]:
1 + 2

3

In [20]:
3.14 * 3 * 2

18.84

In [21]:
2 + 3

5

In [22]:
2.0 + 3

5.0

In [23]:
'홍길동'

'홍길동'

In [24]:
a = ['홍길동',  22, 170] # 리스트

In [25]:
print(a)

['홍길동', 22, 170]

In [26]:
a

['홍길동', 22, 170]

In [27]:
2 - 3

-1

In [29]:
10 / 2 # 나누면 반드시 실수가 된다

5.0

In [30]:
5/2

2.5

In [31]:
2**10 # 1k

1024

In [33]:
5//2 # 몫

2

In [34]:
5%2 # 나머지

1

In [35]:
1024%7

2

In [36]:
1 - 3 * 4 + 5 # 곱하기와 나누기를 먼저 해준다

-6

In [37]:
1 - (3 * 4) + 5

-6

In [39]:
1 - ((3 * 4) + 5)

-16

In [40]:
int(3.14)

3

In [42]:
float(3) # float number

3.0

In [43]:
str(3)

'3'

In [44]:
int('334')

334

In [46]:
int(3.9999) # 반올림이 아니다!

3

In [52]:
int(3.9999999999999999) # 부동소수점 이슈!!!

4

In [53]:
'10' * '3.14'

TypeError: can't multiply sequence by non-int of type 'str'

In [55]:
int('10') * float('3.14')

31.400000000000002

In [56]:
이름 = "Kingkong"

In [57]:
이름

'Kingkong'

In [59]:
이름 = "King's King"

In [60]:
이름

"King's King"

In [61]:
s = '''He's name is "Kim"'''

In [62]:
s

'He\'s name is "Kim"'

In [65]:
s = '홍길동\t22\t170\n둘리' # \t 는 탭문자, \n 개행문자

In [66]:
print(s)

홍길동	22	170
둘리

In [67]:
s = 'I\'m Tom.'
s

"I'm Tom."

In [68]:
이름 = ''

In [69]:
n = 0

In [70]:
s = ' ' # 스페이스가 하나 들어있음

In [71]:
print("나는\n파이썬을\n\t배웁니다")

나는
파이썬을
	배웁니다

In [74]:
3.14

3.14

In [75]:
3.14*2

6.28

In [76]:
'홍길동'*2

'홍길동홍길동'

In [77]:
'*'*100

'****************************************************************************************************'

In [78]:
print('*'*10 + '\n' + '*        *' + '\n' + '*'*10)

**********
*        *
**********

In [79]:
print('홍길동' + '둘리')

홍길동둘리

In [80]:
print('홍길동' + ' ' + '둘리')

홍길동 둘리

In [82]:
print('홍길동', '둘리', '장길산')

홍길동 둘리 장길산

In [83]:
sentence = 'I am Tom.'

In [84]:
len(sentence)

9

In [86]:
sentence[6]

'o'

In [87]:
sentence[5]

'T'

In [89]:
sentence[8]

'.'

In [90]:
sentence[-1]

'.'

In [92]:
sentence

'I am Tom.'

In [91]:
sentence[3:6] # 3부터 6까지 (3:m, 6:o)

'm T'

In [94]:
sentence[2 :4 ]

'am'

In [95]:
# 끝에 마침표를 제외하고 출력하시오
sentence[0 : -1]

'I am Tom'

In [96]:
sentence[:-1]

'I am Tom'

In [97]:
sentence[1:]

' am Tom.'

In [3]:
data = [6, 9, 3, 4, 7, 1, 9]

In [7]:
data[3:5]

[4, 7]

In [100]:
data[0:3]

[6, 9, 3]

In [101]:
data[:-1]

[6, 9, 3, 4, 7, 1]

In [105]:
data[3:7]

[4, 7, 1, 9]

In [104]:
data[-3:]

[7, 1, 9]

In [106]:
s = 'I am Tom.'

In [108]:
s[:5] + s[5:]

'I am Tom.'

In [109]:
s[:5] + s[6:]

'I am om.'

In [117]:
data = '6,id2,수출상담회,수출상담회,수출상담회,코로나19 진단방역물품 온라인 특별관,2020-03-11,2020-12-31'
data

'6,id2,수출상담회,수출상담회,수출상담회,코로나19 진단방역물품 온라인 특별관,2020-03-11,2020-12-31'

In [119]:
data.split(',')

['6',
 'id2',
 '수출상담회',
 '수출상담회',
 '수출상담회',
 '코로나19 진단방역물품 온라인 특별관',
 '2020-03-11',
 '2020-12-31']

In [120]:
data = '     홍길동,22,170\n'
data

'     홍길동,22,170\n'

In [121]:
data.strip()

'홍길동,22,170'

In [122]:
data.strip().split(',')

['홍길동', '22', '170']

In [125]:
data.split(',')

['     홍길동', '22', '170\n']

In [124]:
(data.split(',')).strip()

AttributeError: 'list' object has no attribute 'strip'

### 리스트
- 자료들의 묶음
- 포함되는 자료는 무엇이든 될 수 있다 (리스트 안에 리스트도 포함 가능함)
- [1, 2, 3.5, '홍길동', [4,5,6]]
- [[1,2,3], [4,5,6], [7,8,9]] 같은 리스트는 표형태(2차원) 데이터이다

In [126]:
이름 = '홍길동'
나이 = 22
키 = 170

In [127]:
이름2 = '장길산'
나이2 = 33
키2 = 165

In [129]:
사람 = ['홍길동', 22, 170] # 리스트
사람

['홍길동', 22, 170]

In [137]:
사람2 = ['장길산',33, 165]

In [130]:
a = [10,9,7, 3.14, '파이']
a

[10, 9, 7, 3.14, '파이']

In [131]:
a[-1]

'파이'

In [132]:
a[0]

10

In [133]:
a[2:5]

[7, 3.14, '파이']

In [134]:
len(a)

5

In [136]:
n = 0
for i in a:
    n = n+1
    
print(n)

5

In [135]:
type(a)

list

In [138]:
사람1 = ['홍길동', 22, 170] # 리스트
사람1

['홍길동', 22, 170]

In [139]:
사람2 = ['장길산',33, 165]

In [141]:
사람들 = [사람1, 사람2]

In [142]:
사람들

[['홍길동', 22, 170], ['장길산', 33, 165]]

In [143]:
사람들 = [['홍길동', 22, 170], ['장길산',33, 165]]
사람들

[['홍길동', 22, 170], ['장길산', 33, 165]]

In [144]:
len(사람들)

2

In [146]:
성적표 = [[10,9,8], [6,7,7], [8,8,10], [3,1,2]]
성적표

[[10, 9, 8], [6, 7, 7], [8, 8, 10], [3, 1, 2]]

### 딕셔너리
- 리스트와 같은 정보를 다룬다
- 표현 방식만 다르다

In [10]:
a = ['홍길동', 22, 170]
a

['홍길동', 22, 170]

In [9]:
d = {'이름': '홍길동', '나이':22, '키':170}
d

{'이름': '홍길동', '나이': 22, '키': 170}

In [11]:
a = ['홍길동', 22, 170]
c = ['이름','나이','키']

In [12]:
True

True

In [13]:
False

False

In [14]:
1 == 2

False

In [15]:
1+2 == 3

True